@{
  ViewBag.Title = "План поездки";
  Layout = "_Layout";
}

<h1>План поездки</h1>


<table class="table">
  <thead>
  <td>Название путевки</td>
  <td>Даты</td>
  <td>Количество</td>
  <td>Статус</td>
  <td>Действия</td>
  </thead>
  @foreach (Booking booking in ViewBag.BookingsList)
  {
    @if (booking.Tour.StartDate > DateOnly.FromDateTime(DateTime.Today))
    {
      <tr class="p-3">
        <td>@booking.Tour.Name</td>
        <td>@booking.Tour.StartDate - @booking.Tour.EndDate</td>
        <td>@booking.Amount</td>
        <td>@booking.Status.Name</td>
        <td>
          <div class="d-flex justify-content-evenly">
            @if (booking.Status.Name == "Забронировано")
            {
              <form action="/Tours/PayForBooking">
                <input type="hidden" value="@booking.Id" name="bookingId"/>
                <button class="btn btn-primary" title="Оплатить бронь" type="submit">
                  <i class="fa-solid fa-cart-shopping"></i>
                </button>
              </form>
            }
            @if (booking.Status.Name is "Забронировано" or "Оплачено")
            {
              <form action="/Tours/CancelBooking">
                <input type="hidden" value="@booking.Id" name="bookingId"/>
                <button class="btn btn-danger" title="Отменить бронь" type="submit">
                  <i class="fa-solid fa-times"></i>
                </button>
              </form>
            }
          </div>
        </td>
      </tr>
    }
  }
</table>